*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Work Sans";
  font-weight: 400;
  color: #022941;
  box-sizing: border-box;
  overflow-x: hidden; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 2rem 0; }
  @media (max-width: 768px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem; } }

.breadcrumb-item + .breadcrumb-item::before {
  content: ""; }

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  margin: 1rem 0; }
  .separator::after {
    content: '';
    height: 1px;
    background: #888282;
    width: 60vw; }
  .separator--black::before {
    height: 4px;
    width: 40vw;
    background-color: #000;
    content: ''; }
  .separator--grey::before {
    height: 4px;
    width: 40vw;
    background-color: #4C4D5F;
    content: ''; }
  .separator--blue::before {
    height: 4px;
    width: 40vw;
    background-color: #022941;
    content: ''; }
  .separator--purple::before {
    height: 4px;
    width: 40vw;
    background-color: #603CE6;
    content: ''; }

.container-float {
  padding: 3rem 0;
  width: 80vw;
  display: block;
  margin: auto; }
  @media (max-width: 768px) {
    .container-float {
      width: 90vw; } }

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/Work_Sans/WorkSans-Regular.ttf"); }

@font-face {
  font-family: 'Work Sans Bold';
  src: url("../fonts/Work_Sans/WorkSans-Bold.ttf"); }

@font-face {
  font-family: 'Work Sans SemiBold';
  src: url("../fonts/Work_Sans/WorkSans-SemiBold.ttf"); }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf"); }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf"); }

.paragraph--grey {
  font-family: 'Work Sans';
  font-size: 1.4rem;
  color: #888282; }

.paragraph--black {
  font-family: 'Work Sans';
  font-size: 1.4rem;
  color: #000; }

.title--primary {
  font-family: 'Montserrat Bold';
  font-size: 1.8rem;
  color: #53ace9;
  text-decoration: none; }

.title--grey {
  font-family: 'Montserrat Bold';
  font-size: 1.8rem;
  color: #4C4D5F;
  text-decoration: none; }

.title--black {
  font-family: 'Montserrat Bold';
  font-size: 1.8rem;
  color: #000;
  text-decoration: none; }

.title--blue {
  font-family: 'Montserrat Bold';
  font-size: 1.8rem;
  color: #022941;
  text-decoration: none; }

.title--purple {
  font-family: 'Montserrat Bold';
  font-size: 1.8rem;
  color: #603CE6;
  text-decoration: none; }

.title:hover {
  text-decoration: none; }

.subtitle {
  font-family: 'Montserrat Regular';
  font-size: 1.4rem;
  color: #53ace9; }
  .subtitle--black {
    color: #000; }

.text {
  font-family: 'Work Sans';
  font-size: 1.2rem;
  color: #000; }
  .text-primary {
    color: #53ace9; }
  .text-white {
    color: #FFF; }
  .text-secondary {
    color: #fa8d2d; }

.margin-bottom {
  margin-bottom: 2rem; }

.margin-bottom-sm {
  margin-bottom: 1rem; }

.text-center {
  text-align: center; }

.d-flex {
  display: flex; }

.d-ib {
  display: inline-block; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.header {
  background-image: url("../assets/images/header.png"), linear-gradient(#353d57, #353d57);
  background-size: cover;
  background-position: top center;
  min-height: 30rem;
  position: fixed;
  width: 100vw;
  z-index: 999;
  top: 0; }
  .header .container-text {
    background: white;
    position: absolute;
    bottom: 0;
    width: 80vw;
    right: 0;
    left: 0;
    padding: 5rem 6rem 1rem 6rem;
    margin: auto; }
    @media (max-width: 768px) {
      .header .container-text {
        padding: 4rem 6rem 1rem 6rem;
        width: 90vw;
        bottom: -2rem; } }
    @media (max-width: 565px) {
      .header .container-text {
        padding: 4rem 2rem 1rem 2rem;
        width: 90vw;
        bottom: -4rem; } }
    @media (max-width: 540px) {
      .header .container-text {
        padding: 4rem 2rem 1rem 2rem;
        width: 90vw;
        bottom: -4rem; } }
    @media (max-width: 470px) {
      .header .container-text {
        bottom: -8rem; } }
    @media (max-width: 350px) {
      .header .container-text {
        bottom: -12rem;
        padding: 3rem 2rem 1rem 2rem; } }
  .header--small {
    height: auto;
    min-height: auto; }
    .header--small ~ main {
      margin-top: 9rem; }
  .header-text {
    font-family: "Montserrat Regular";
    font-size: 1.8rem;
    color: #FFF;
    padding: 2rem; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0; }
  .navbar .logo img {
    max-height: 80px;
    max-height: 70px;
    margin-left: 1rem; }
  .navbar .search {
    width: 35px;
    margin: 0 2rem; }
  .navbar .brand img {
    max-height: 70px; }

.menu {
  display: flex;
  align-items: center; }
  .menu-inner {
    list-style: none;
    color: white;
    display: flex; }
  .menu-item {
    margin: 1rem;
    transition: all 0.2s; }
    .menu-item:hover {
      color: white;
      text-decoration: none;
      transform: translateY(-5px); }
  .menu-link {
    color: white;
    font-family: "Montserrat Regular";
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.1s;
    font-size: 1.5rem;
    font-weight: bolder; }
    @media (max-width: 768px) {
      .menu-link {
        font-family: "Work Sans";
        font-weight: normal;
        font-size: 1.8rem; } }
    .menu-link::after {
      content: "";
      transition: all 0.1s;
      width: 0%; }
    .menu-link:hover {
      transform: translateY(-3px); }
      .menu-link:hover::after {
        content: "";
        height: 2px;
        width: 60%;
        background-color: #FFF;
        display: block; }

.burger {
  position: absolute;
  display: block;
  cursor: pointer;
  user-select: none;
  order: -1;
  z-index: 9999;
  width: 2.3rem;
  height: 1rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
  right: 2rem; }
  @media only screen and (min-width: 768px) {
    .burger {
      display: none;
      visibility: hidden; } }
  .burger-line {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    border: none;
    outline: none;
    opacity: 1;
    transform: rotate(0deg);
    background-color: #53ace9;
    transition: 0.25s ease-in-out; }
    .burger-line:nth-child(1) {
      top: 0px; }
    .burger-line:nth-child(2) {
      top: 0.6rem;
      width: 80%; }
    .burger-line:nth-child(3) {
      top: 1.3rem;
      width: 60%; }

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 998; }

.search-input {
  background: #FFF;
  font-family: "Montserrat Regular";
  font-size: 1.4rem;
  padding: 1.2rem 2rem;
  outline: none;
  border-radius: 5rem;
  border: none;
  box-shadow: 0 0 5px 5px rgba(76, 77, 95, 0.2);
  min-width: 50vw; }
  @media (max-width: 768px) {
    .search-input {
      min-width: 75vw; } }

.search-button {
  background: #53ace9;
  color: #FFF;
  font-family: "Montserrat SemiBold";
  font-size: 1.4rem;
  text-align: center;
  padding: 1.2rem 3rem;
  outline: none;
  border-radius: 5rem;
  border: none;
  box-shadow: 0 0 5px 5px rgba(76, 77, 95, 0.2);
  margin-left: -7rem;
  transition: all .2s;
  cursor: pointer; }
  .search-button:hover {
    background: #fa8d2d; }

.logos-mobile {
  display: none;
  transition: all .2s;
  display: flex;
  top: 3rem;
  left: 3rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  visibility: hidden; }

.menu-button-container {
  display: none;
  height: 3rem;
  width: 50px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  z-index: 99999; }

#menu-toggle {
  display: none;
  position: fixed;
  right: 2rem; }

#menu-toggle:checked ~ .menu {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(76, 77, 95, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999; }
  #menu-toggle:checked ~ .menu .logos-mobile {
    display: block;
    visibility: visible; }
    #menu-toggle:checked ~ .menu .logos-mobile .brand {
      position: relative;
      bottom: 0; }
  #menu-toggle:checked ~ .menu .menu-container {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 15rem;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 90vw;
    height: 100vh;
    background-color: #353d57; }
  #menu-toggle:checked ~ .menu .menu-inner {
    color: #FFF;
    width: 90%;
    flex-direction: column;
    right: 0;
    position: absolute; }
  #menu-toggle:checked ~ .menu .menu-item {
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid white; }
  #menu-toggle:checked ~ .menu .menu-link {
    color: #FFF;
    text-align: center; }
    #menu-toggle:checked ~ .menu .menu-link:hover {
      transform: translateY(-3px);
      color: #fa8d2d; }
      #menu-toggle:checked ~ .menu .menu-link:hover::after {
        content: "";
        height: 2px;
        width: 60%;
        background-color: #fa8d2d;
        display: block; }
  #menu-toggle:checked ~ .menu .brand {
    position: absolute;
    bottom: 2rem; }

#menu-toggle:checked ~ .burger .burger-line {
  background-color: #FFF; }
  #menu-toggle:checked ~ .burger .burger-line:nth-child(1) {
    top: 0.6rem;
    transform: rotate(135deg); }
  #menu-toggle:checked ~ .burger .burger-line:nth-child(2) {
    right: -1.2rem;
    opacity: 0;
    visibility: hidden;
    width: 100%; }
  #menu-toggle:checked ~ .burger .burger-line:nth-child(3) {
    top: 0.6rem;
    transform: rotate(-135deg);
    width: 100%; }

@media (max-width: 768px) {
  .menu-button-container {
    display: flex; }
  .menu {
    display: none; } }

.button-primary {
  font-family: 'Work Sans';
  font-size: 1.2rem;
  color: #53ace9 !important;
  border: 1px solid #53ace9;
  border-radius: 5rem;
  padding: 1rem 2rem;
  text-align: center;
  background: #FFF;
  outline: none;
  cursor: pointer;
  transition: all .2s; }
  .button-primary:hover {
    font-family: 'Work Sans';
    font-size: 1.2rem;
    color: #FFF !important;
    border: 1px solid #FFF;
    border-radius: 5rem;
    padding: 1rem 2rem;
    text-align: center;
    background: #fa8d2d;
    outline: none;
    cursor: pointer;
    transition: all .2s; }

.button-secondary {
  font-family: 'Work Sans';
  font-size: 1.2rem;
  color: #FFF !important;
  border: 1px solid #FFF;
  border-radius: 5rem;
  padding: 1rem 2rem;
  text-align: center;
  background: #53ace9;
  outline: none;
  cursor: pointer;
  transition: all .2s; }
  .button-secondary:hover {
    font-family: 'Work Sans';
    font-size: 1.2rem;
    color: #FFF !important;
    border: 1px solid #FFF;
    border-radius: 5rem;
    padding: 1rem 2rem;
    text-align: center;
    background: #fa8d2d;
    outline: none;
    cursor: pointer;
    transition: all .2s; }

.breadcrumb {
  width: 100vw;
  padding: 1rem;
  background: #FFF;
  box-shadow: 0px 5px 15px #00000010; }
  .breadcrumb-list {
    width: 80vw;
    margin: auto;
    list-style: none;
    display: flex;
    overflow-y: auto; }
    @media (max-width: 992px) {
      .breadcrumb-list {
        width: 90vw; } }
  .breadcrumb-item {
    display: flex; }
    .breadcrumb-item::after {
      content: '>';
      font-size: 1.4rem;
      color: #000;
      margin: 0 1rem; }
  .breadcrumb-item:last-child .breadcrumb-link {
    font-family: 'Montserrat Bold';
    color: #000; }
  .breadcrumb-item:last-child::after {
    content: ''; }
  .breadcrumb-link {
    font-family: 'Montserrat Regular';
    font-size: 1.4rem;
    color: #1FAEEF;
    text-decoration: none; }

.sidenav {
  background-color: #F8F8F8;
  height: 100%;
  width: 100%;
  min-width: 200px;
  min-height: 100vw;
  padding: 2rem;
  text-align: center; }
  @media (max-width: 768px) {
    .sidenav {
      min-height: auto; } }
  .sidenav p {
    text-align: center;
    font-family: 'Montserrat Regular';
    font-size: 2rem;
    color: #022941; }
    .sidenav p i {
      margin-right: 1rem; }
  .sidenav-list {
    margin-top: 4rem;
    list-style: none; }
    .sidenav-list-dropdown {
      list-style: none;
      margin-left: 1rem; }
  .sidenav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat Regular';
    font-size: 1.3rem;
    padding: 1rem; }
    .sidenav-item a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: #888282; }
    .sidenav-item-dropdown {
      padding: 0;
      border-bottom: 0.5px solid #F8F8F8; }
      .sidenav-item-dropdown .title {
        text-decoration: none;
        width: 100%;
        padding: 1rem; }
        .sidenav-item-dropdown .title::after {
          content: '>';
          margin-left: 1rem;
          color: #fa8d2d; }
        .sidenav-item-dropdown .title .active {
          font-family: 'Montserrat SemiBold';
          color: #000; }

.card {
  background: #FFF;
  width: 100%;
  border: 0.5px solid #cecece;
  overflow: hidden;
  cursor: pointer;
  transition: all .2s; }
  .card:hover {
    box-shadow: 0 6px 15px -2px rgba(76, 77, 95, 0.3); }
  .card-header {
    background-color: #FFF;
    padding: 0; }
    .card-header img {
      width: 100%;
      object-fit: cover; }
  .card-body {
    text-align: start;
    padding: 2rem 3rem; }
    @media (max-width: 992px) {
      .card-body {
        padding: 2rem 1rem; } }
  .card .button {
    width: fit-content;
    display: block;
    margin: auto;
    text-decoration: none; }

.container-home {
  max-width: 80vw;
  margin: auto; }
  @media (max-width: 768px) {
    .container-home {
      max-width: 95vw; } }

.main {
  width: 100%;
  position: relative;
  margin-top: 30rem;
  overflow-x: hidden; }

.data-section {
  position: relative; }
  .data-section .container-home {
    background: #FFF;
    padding: 6rem; }
    @media (max-width: 768px) {
      .data-section .container-home {
        padding: 8rem 1rem; } }
  .data-section .items-image {
    position: absolute;
    bottom: 0;
    right: -5rem;
    z-index: 0;
    max-height: 40rem;
    height: 40rem; }
    @media (max-width: 768px) {
      .data-section .items-image {
        display: none; } }
    .data-section .items-image img {
      width: 100%;
      height: 100%; }
  .data-section .data-group {
    z-index: 999; }
    .data-section .data-group .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem; }
      @media (max-width: 768px) {
        .data-section .data-group .grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1rem; } }
  .data-section .data-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    color: #fa8d2d; }
    .data-section .data-info img {
      height: 45px; }
    .data-section .data-info-number {
      font-family: "Montserrat Bold";
      font-size: 4rem;
      padding: 1rem 0; }

.category-section {
  background: #F8F8F8; }
  .category-section .container-home {
    background: #F8F8F8;
    padding: 6rem; }
    @media (max-width: 768px) {
      .category-section .container-home {
        padding: 6rem 1rem; } }
  .category-section .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem; }
    @media (max-width: 768px) {
      .category-section .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem; } }
  .category-section .category-icon {
    transition: all .2s;
    min-height: 40px;
    margin-bottom: 1rem;
    width: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .category-section .category-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem 0;
    border-radius: 10px;
    transition: all .2s;
    justify-content: center;
    cursor: pointer; }
    .category-section .category-info:hover {
      background: #FFF;
      color: #fa8d2d;
      box-shadow: 0 0 15px -2px rgba(76, 77, 95, 0.3); }
      .category-section .category-info:hover .icon-gubernamental {
        background-image: url("../assets/icons/topics/orange/icon-gubernamental.svg"); }
      .category-section .category-info:hover .icon-ambiente {
        background-image: url("../assets/icons/topics/orange/icon-ambiente.svg"); }
      .category-section .category-info:hover .icon-cultura {
        background-image: url("../assets/icons/topics/orange/icon-cultura.svg"); }
      .category-section .category-info:hover .icon-desarrollo {
        background-image: url("../assets/icons/topics/orange/icon-desarrollo.svg"); }
      .category-section .category-info:hover .icon-economia {
        background-image: url("../assets/icons/topics/orange/icon-economia.svg"); }
      .category-section .category-info:hover .icon-educacion {
        background-image: url("../assets/icons/topics/orange/icon-educacion.svg"); }
      .category-section .category-info:hover .icon-hacienda {
        background-image: url("../assets/icons/topics/orange/icon-hacienda.svg"); }
      .category-section .category-info:hover .icon-infraestructura {
        background-image: url("../assets/icons/topics/orange/icon-infraestructura.svg"); }
      .category-section .category-info:hover .icon-movilidad {
        background-image: url("../assets/icons/topics/orange/icon-movilidad.svg"); }
      .category-section .category-info:hover .icon-ordenamiento {
        background-image: url("../assets/icons/topics/orange/icon-ordenamiento.svg"); }
      .category-section .category-info:hover .icon-poblacion {
        background-image: url("../assets/icons/topics/orange/icon-poblacion.svg"); }
      .category-section .category-info:hover .icon-salud {
        background-image: url("../assets/icons/topics/orange/icon-salud.svg"); }
      .category-section .category-info:hover .icon-social {
        background-image: url("../assets/icons/topics/orange/icon-social.svg"); }
      .category-section .category-info:hover .icon-territorios {
        background-image: url("../assets/icons/topics/orange/icon-territorios.svg"); }
      .category-section .category-info:hover .icon-vivienda {
        background-image: url("../assets/icons/topics/orange/icon-vivienda.svg"); }
      .category-section .category-info:hover .text {
        color: #fa8d2d; }

.newsletter-section {
  background: #3366cc; }
  @media (max-width: 768px) {
    .newsletter-section button {
      display: block;
      margin: auto; } }
  .newsletter-section .container-home {
    background: #3366cc;
    padding: 3rem 6rem; }
    @media (max-width: 768px) {
      .newsletter-section .container-home {
        padding: 3rem 1rem; } }

.newsletter-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem; }
  @media (max-width: 768px) {
    .newsletter-info {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem; } }
  @media (max-width: 768px) {
    .newsletter-info-title {
      flex-direction: column; } }
  .newsletter-info img {
    width: 50px;
    margin-right: 1rem; }
  .newsletter-info .input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  .newsletter-info button {
    height: fit-content; }

.newsletter-title {
  font-size: 1.6rem;
  font-family: "Montserrat Regular";
  color: #FFF; }

.newsletter-subtitle {
  font-size: 1.2rem;
  font-family: "Work Sans";
  color: #FFF; }
  @media (max-width: 768px) {
    .newsletter-subtitle {
      text-align: center; } }
  .newsletter-subtitle a {
    color: #fa8d2d; }

.newsletter-input {
  outline: none;
  background: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-family: "Work Sans";
  min-width: 25rem;
  margin-bottom: 1rem; }
  @media (max-width: 768px) {
    .newsletter-input {
      display: block;
      margin: 1rem auto; } }
  .newsletter-input::placeholder {
    color: #FFF; }

.blog-section {
  background: #FFF;
  position: relative; }
  .blog-section .container-home {
    background: #FFF;
    padding: 6rem; }
    @media (max-width: 768px) {
      .blog-section .container-home {
        padding: 6rem 1rem; } }

.blog-image {
  position: absolute;
  bottom: 0;
  left: 0rem;
  z-index: 0;
  max-height: 40rem;
  height: 40rem; }
  @media (max-width: 768px) {
    .blog-image {
      display: none; } }
  .blog-image img {
    width: 100%;
    height: 100%; }

.contact-section {
  background: #262626;
  position: relative;
  overflow: hidden; }
  @media (max-width: 768px) {
    .contact-section .text {
      font-size: 1.6rem !important; } }
  .contact-section .container-home {
    background: #262626;
    padding: 6rem; }
    @media (max-width: 768px) {
      .contact-section .container-home {
        padding: 3rem 1rem; } }

.contact-privacity {
  text-align: center; }
  @media (max-width: 768px) {
    .contact-privacity {
      flex-direction: column;
      text-align: center; }
      .contact-privacity p {
        margin-right: 0; } }
  .contact-privacity p {
    margin-right: 2rem; }
    @media (max-width: 768px) {
      .contact-privacity p {
        margin-right: 0; } }
  .contact-privacity a {
    color: #33FFE0;
    text-decoration: none; }
    .contact-privacity a:hover {
      color: #53ace9;
      text-decoration: none; }

.contact-image {
  position: absolute;
  bottom: -10rem;
  right: 0rem;
  z-index: 0;
  max-height: 30rem;
  height: 30rem; }
  @media (max-width: 768px) {
    .contact-image {
      display: none; } }
  .contact-image img {
    width: 100%;
    height: 100%; }

.contact-title {
  font-family: "Montserrat SemiBold";
  font-size: 1.4rem;
  color: #FFF;
  text-align: left;
  margin-left: 1rem; }

.contact-separator {
  width: 70%;
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  margin: 1rem 0; }
  .contact-separator::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #888282;
    position: absolute; }
  .contact-separator::after {
    content: "";
    width: 60%;
    height: 3px;
    z-index: 998;
    margin-left: 1rem;
    background-color: #FFF; }

.contact-list {
  list-style: none;
  margin-left: 1rem; }

.contact-item {
  margin: 2rem 0;
  display: flex;
  align-items: center; }

.contact-decorator {
  width: 8px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  background: #33FFE0;
  border-radius: 0px 0px 0px 10px; }

.contact-link {
  color: #FFF;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "Work Sans"; }
  @media (max-width: 768px) {
    .contact-link {
      font-size: 1.6rem; } }

.contact-icon {
  color: #33FFE0;
  font-size: 1.5rem;
  margin-right: 1rem; }

.contact-social-container {
  flex-wrap: wrap;
  flex-direction: column; }
  .contact-social-container p {
    margin: 2rem 0; }
  .contact-social-container .logo {
    width: 150px; }
    .contact-social-container .logo img {
      width: 100%; }

.contact-social-list {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center; }
  .contact-social-list img {
    max-width: 3rem; }

.contact-social-item {
  margin: 0 1rem; }

.social-section {
  background: #FFF;
  position: relative; }
  .social-section .container-home {
    background: #FFF;
    padding: 6rem 6rem 0 6rem; }
    @media (max-width: 768px) {
      .social-section .container-home {
        padding: 6rem 1rem 0 1rem;
        text-align: center; } }

.social-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem; }
  @media (max-width: 768px) {
    .social-container {
      overflow-x: scroll; } }

.social-item {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 768px) {
    .social-item {
      width: 60vw;
      text-align: left; } }
  .social-item img {
    max-width: 70%;
    margin-bottom: 1rem; }
  .social-item a {
    color: #53ace9;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: "Work Sans"; }

.footer {
  background-color: #3366cc;
  width: 100%; }
  .footer-container {
    width: 80vw;
    margin: auto;
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 768px) {
      .footer-container {
        max-width: 90vw;
        flex-direction: column;
        justify-content: center; }
        .footer-container .footer-logos {
          display: flex; } }
  .footer-brand img {
    max-height: 40px; }

.icon-gubernamental {
  background-image: url("../assets/icons/topics/black/icon-gubernamental.svg"); }
  .icon-gubernamental:hover {
    background-image: url("../assets/icons/topics/orange/icon-gubernamental.svg"); }

.icon-ambiente {
  background-image: url("../assets/icons/topics/black/icon-ambiente.svg"); }
  .icon-ambiente:hover {
    background-image: url("../assets/icons/topics/orange/icon-ambiente.svg"); }

.icon-cultura {
  background-image: url("../assets/icons/topics/black/icon-cultura.svg"); }
  .icon-cultura:hover {
    background-image: url("../assets/icons/topics/orange/icon-cultura.svg"); }

.icon-desarrollo {
  background-image: url("../assets/icons/topics/black/icon-desarrollo.svg"); }
  .icon-desarrollo:hover {
    background-image: url("../assets/icons/topics/orange/icon-desarrollo.svg"); }

.icon-economia {
  background-image: url("../assets/icons/topics/black/icon-economia.svg"); }
  .icon-economia:hover {
    background-image: url("../assets/icons/topics/orange/icon-economia.svg"); }

.icon-educacion {
  background-image: url("../assets/icons/topics/black/icon-educacion.svg"); }
  .icon-educacion:hover {
    background-image: url("../assets/icons/topics/orange/icon-educacion.svg"); }

.icon-hacienda {
  background-image: url("../assets/icons/topics/black/icon-hacienda.svg"); }
  .icon-hacienda:hover {
    background-image: url("../assets/icons/topics/orange/icon-hacienda.svg"); }

.icon-infraestructura {
  background-image: url("../assets/icons/topics/black/icon-infraestructura.svg"); }
  .icon-infraestructura:hover {
    background-image: url("../assets/icons/topics/orange/icon-infraestructura.svg"); }

.icon-movilidad {
  background-image: url("../assets/icons/topics/black/icon-movilidad.svg"); }
  .icon-movilidad:hover {
    background-image: url("../assets/icons/topics/orange/icon-movilidad.svg"); }

.icon-ordenamiento {
  background-image: url("../assets/icons/topics/black/icon-ordenamiento.svg"); }
  .icon-ordenamiento:hover {
    background-image: url("../assets/icons/topics/orange/icon-ordenamiento.svg"); }

.icon-poblacion {
  background-image: url("../assets/icons/topics/black/icon-poblacion.svg"); }
  .icon-poblacion:hover {
    background-image: url("../assets/icons/topics/orange/icon-poblacion.svg"); }

.icon-salud {
  background-image: url("../assets/icons/topics/black/icon-salud.svg"); }
  .icon-salud:hover {
    background-image: url("../assets/icons/topics/orange/icon-salud.svg"); }

.icon-social {
  background-image: url("../assets/icons/topics/black/icon-social.svg"); }
  .icon-social:hover {
    background-image: url("../assets/icons/topics/orange/icon-social.svg"); }

.icon-territorios {
  background-image: url("../assets/icons/topics/black/icon-territorios.svg"); }
  .icon-territorios:hover {
    background-image: url("../assets/icons/topics/orange/icon-territorios.svg"); }

.icon-vivienda {
  background-image: url("../assets/icons/topics/black/icon-vivienda.svg"); }
  .icon-vivienda:hover {
    background-image: url("../assets/icons/topics/orange/icon-vivienda.svg"); }

.movility {
  display: grid;
  grid-template-columns: minmax(400px, 400px) 1fr;
  grid-gap: 1rem;
  max-width: 100%; }
  @media (max-width: 768px) {
    .movility {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 0;
      margin: 0; } }
  .movility-content {
    padding: 3rem; }
  .movility .results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .movility .results span {
      font-size: 1.2rem;
      margin-right: 2rem; }
    .movility .results-select {
      font-family: 'Work Sans';
      padding: 1rem .5rem;
      border: 1px solid #888282;
      border-radius: 5px;
      font-size: 1.1rem; }
    .movility .results-card {
      background: #FFF;
      box-shadow: 0px 5px 15px #0000001A;
      border-radius: 1.5rem;
      margin: 2rem 0; }
      .movility .results-card-header {
        padding: 2rem 2rem;
        border-bottom: 1px solid #F8F8F8;
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .movility .results-card-body {
        padding: 1.5rem 2rem; }
      .movility .results-card-footer {
        padding: 1.5rem 2rem;
        border-top: 1px solid #F8F8F8;
        display: flex;
        align-items: center;
        justify-content: space-between; }
    .movility .results-data {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start; }
    .movility .results-headings p {
      font-family: 'Work Sans Bold';
      color: #000;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      margin-right: 1rem; }
    .movility .results-info p {
      font-family: 'Work Sans';
      color: #000;
      font-size: 1.2rem;
      margin-bottom: 1rem; }
    .movility .results-info i {
      font-size: 2rem;
      color: #FFC400; }

.data-block {
  width: 80vw;
  margin: auto;
  padding: 3rem 0; }

.data-container {
  width: 80vw;
  margin: auto;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .data-container .button-close {
    position: absolute;
    right: 0;
    top: 15px;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    background: #FFF;
    color: #53ace9;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(146, 190, 228, 0.4); }

.data-view {
  width: 80vw;
  margin: auto;
  padding: 0 0 2rem 0; }
  .data-view .data-card-body {
    display: block; }

.data-actions {
  width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 0; }
  .data-actions .share {
    cursor: pointer;
    color: #53ace9 !important;
    text-decoration: none;
    font-family: "Work Sans";
    font-size: 1.2rem;
    margin-right: 1rem; }
    .data-actions .share:hover {
      color: #53ace9;
      text-decoration: none; }

.data-technical-info {
  width: 100vw;
  background-color: #39415B;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0;
  color: #FFF; }
  .data-technical-info-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .data-technical-info-list {
        flex-direction: column;
        align-items: flex-start; } }
  .data-technical-info-item {
    font-family: "Work Sans";
    font-size: 1.4rem;
    color: white;
    margin: 0.5rem; }
    @media (max-width: 768px) {
      .data-technical-info-item {
        font-size: 1.6rem; } }
    .data-technical-info-item span {
      font-weight: 600; }

.data-technical-section {
  position: relative;
  background: #F8F8F8; }

.data-sheet {
  margin-top: -5rem; }

.data-card {
  overflow-x: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .data-card-header {
    background-color: #FFF;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .data-card-header i {
      color: #1FAEEF;
      cursor: pointer; }
  .data-card-body {
    display: none;
    border-top: 1px solid #888282;
    background-color: #FFF;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    padding: 2rem;
    transition: all 0.2s; }
  .data-card ::-webkit-scrollbar {
    width: 5px;
    height: 10px; }
  .data-card ::-webkit-scrollbar-track {
    background-color: #F8F8F8;
    border-radius: 10px; }
  .data-card ::-webkit-scrollbar-thumb {
    background: #3366cc;
    border-radius: 10px; }
  .data-card ::-webkit-scrollbar-thumb:hover {
    background: #3366cc; }

.data-table {
  width: 100%;
  font-size: 1.3rem;
  overflow-x: auto;
  display: flex; }
  .data-table th,
  .data-table td {
    text-align: left;
    padding: 0.5rem;
    transition: all 0.2s; }
  .data-table tr:hover > td {
    background-color: rgba(146, 190, 228, 0.4); }
