/* DKAN DRUPAL */
.page-title {
  font-size: 2.5em;
}

.node__meta {
  font-size: 1em;
}

.node__content {
  font-size: 1.35em;
  word-spacing: 1px;
  line-height: 1.4em;
}

.dc-search-sidebar-options {
  background-color: transparent;
  border: none;
  padding: 20px;
}

.dc-search-sidebar-options .show-more-container .dc-facet-option svg {
  height: 20px;
  width: 20px;
}

.dc-search-sidebar-options .toggle-block button {
  font-size: 1.4rem;
}

.dc-search-sidebar-options .show-more-container .dc-facet-option {
  align-items: left;
  padding: 0;
}

.field.field--name-field-imagen-preview.field--type-image.field--label-hidden.field__item
  a
  img {
  width: 100%;
  height: auto;
}

.dc-results-list .dc-pagination-container .pagination li.active>a, .dc-results-list .dc-pagination-container .pagination li.active>a:focus, .dc-results-list .dc-pagination-container .pagination li.active>a:hover, .dc-results-list .dc-pagination-container .pagination li.active>span, .dc-results-list .dc-pagination-container .pagination li.active>span:focus, .dc-results-list .dc-pagination-container .pagination li.active>span:hover {
  background-color: #53ace9;
}

.dc-pagination-container {
  font-size: 1.2rem;
}

.dc-search-input.form-group input[type=text] {
  padding: 1rem;
  font-size: 1.4rem;
}

/* Bootstrap */

/* Medata Design */

div.results-card-header p,
div.results-card-body p,
div.results-headings p,
div.results-info p,
div.result-tag p {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.margin-bottom {
  margin-bottom: 2rem !important;
}

.breadcrumb-list {
  padding: 0;
  overflow: hidden;
}

.menu-link:hover,
.contact-link:hover {
  color: white;
  text-decoration: none;
}

.contact-list {
  padding: 0;
}

.block .content {
  margin-top: 0px;
}

.sidenav {
  text-align: left;
}

.data-section .data-group .grid {
  grid-template-columns: repeat(3, 1fr);
}

.data-actions {
  width: 100%;
}

@media (max-width: 565px) {
  .breadcrumb {
    display: none;
  }
}

@media (max-width: 565px) {
  .data-container .button-close {
    right: -20px;
    top: -10px;
  }
}

.button-secondary {
    border: none;
}

.data-table tr:hover > td {
  background-color: rgba(146, 190, 228, 0.14);
}

.text {
    font-size: 1.3rem;
}



/* Add */
p.title,
p.contact-title {
  width: fit-content;
}

.separator::after {
  width: calc(100% - var(--hrsize));
}
.separator::before {
  width: var(--hrsize);
}
.contact-separator::after {
  width: var(--hrsize);
}

.data-table tr > td {
  background-color: rgba(146, 190, 228, 0.14);
}

.data-table th, .data-table td {
  white-space: nowrap;
  padding-right: 3.5rem;
  padding-left: 0.7rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.subtitle--black {
  margin-bottom: 0rem;
}

.data-technical-info-item {
  text-align: start;
}

.text-primary a {
  color: #53ace9 !important;
}

