/* DKAN DRUPAL */
.page-title {
    font-size: 2.5em;
}

.node__meta {
    font-size: 1em;
}

.node__content { 
    font-size: 1.35em;
    word-spacing: 1px;
    line-height: 1.4em;
}


/* Bootstrap */
.breadcrumb-item+.breadcrumb-item:before {
    content: none;
}



/* Medata Design */

div.results-card-header p, div.results-card-body p, div.results-headings p, div.results-info p, div.result-tag p {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.margin-bottom {
    margin-bottom: 2rem !important;
}

.breadcrumb-list {
    padding: 0;
    overflow: hidden;
}

.menu-link:hover, .contact-link:hover {
    color: white;
    text-decoration: none;
}

.contact-list {
    padding: 0;
}
