{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
  <header id="header header--small" class="header">
      {{ page.primary_menu }}
  </header>
  <nav class="breadcrumb">
      <ol class="breadcrumb-list">
          <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="">
                  <i class="fa-solid fa-house"></i>
              </a>
          </li>
          <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="">Medata</a>
          </li>
          <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="">Datos Abiertos</a>
          </li>
          <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="">Movilidad</a>
          </li>
      </ol>
  </nav>
  <div class="container movility">
        <div class="sidenav">
        </div>

        <div class="movility-content">
          {{ page.content }}
        </div>
    </div>

    <section class="contact-section">
        <div class="container-home">
            <div class="grid">
                <div class="contact-containers">
                    <p class="contact-title">Links de interés</p>
                    <hr class="contact-separator">
                    <ul class="contact-list">
                        <li class="contact-item">
                            <span class="contact-decorator"></span>
                            <a href="#" class="contact-link">Portal Alcaldia de Medellín</a>
                        </li>
                        <li class="contact-item">
                            <span class="contact-decorator"></span>
                            <a href="#" class="contact-link">Página Corporación Ruta N</a>
                        </li>
                        <li class="contact-item">
                            <span class="contact-decorator"></span>
                            <a href="#" class="contact-link">Portal Datos Abiertos Colombia</a>
                        </li>
                    </ul>
                </div>
                <div class="contact-containers">
                    <p class="contact-title">Contacto</p>
                    <hr class="contact-separator">
                    <ul class="contact-list">   
                        <li class="contact-item">
                            <span class="contact-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </span>
                            <a href="#" class="contact-link">Calle 44 N 52 – 165 Centro Administrativo la Alpujarra – Medellín, Colombia.</a>
                        </li>
                        <li class="contact-item">
                            <span class="contact-icon">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                            <a href="#" class="contact-link">medata@medellin.gov.co</a>
                        </li>
                        <li class="contact-item">
                            <span class="contact-icon">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <a href="#" class="contact-link">Línea única de atención ciudadana: (574) 44 44 144</a>
                        </li>
                        <li class="contact-item">
                            <span class="contact-icon">
                                <i class="fa-solid fa-headset"></i>
                            </span>
                            <a href="#" class="contact-link">Línea gratuita nacional: 01 8000 411 144</a>
                        </li>
                    </ul>
                </div>
                <div class="contact-containers contact-social-container d-flex justify-content-center align-items-center">
                    <a href="/" class="logo">
                        <img src="/themes/custom/custom_drupal9_theme/assets/images/logo.png" alt="Logo MeData">
                    </a>
                    <p class="text text-white text-center">
                        MEData es la estrategia de datos de la ciudad de Medellín, que busca la apropiación, apertura y uso de los datos como herramienta de gobierno, acción ciudadana y toma de decisiones.
                    </p>
                    <div class="contact-social">
                        <ul class="contact-social-list">
                            <li class="contact-social-item">
                                <img src="/themes/custom/custom_drupal9_theme/assets/icons/social-network/facebook.png" alt="Facebook">
                            </li>
                            <li class="contact-social-item">
                                <img src="/themes/custom/custom_drupal9_theme/assets/icons/social-network/twitter.png" alt="Twitter">
                            </li>
                            <li class="contact-social-item">
                                <img src="/themes/custom/custom_drupal9_theme/assets/icons/social-network/insta.png" alt="Instagram">
                            </li>
                            <li class="contact-social-item">
                                <img src="/themes/custom/custom_drupal9_theme/assets/icons/social-network/youtube.png" alt="Youtube">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer d-flex align-items-center justify-content-center">
            <p class="text text-white">Copyright © Medata 2022 ® todos los derechos reservados</p>
            <p class="text text-secondary">Condiciones de Uso</p>
            <p class="text text-secondary">Políticas de Privacidad</p>
        </div>
        <div class="contact-image">
            <img src="/themes/custom/custom_drupal9_theme/assets/images/item2.png">
        </div>
    </section>