{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <ol>
    <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="/">
            <i class="fa-solid fa-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="/"> Medata
        </a>
    </li>
    {% for item in breadcrumb %}
      {% if item.text !== 'Home' and item.text !== 'home'%}
        <li class="breadcrumb-item">
          {% if item.url %}
            <a class="breadcrumb-link" href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            <a class="breadcrumb-link" href="#">{{ item.text }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ol>
  </nav>
{% endif %}
